@import "tailwindcss";

.main-visual {
    transform: scale(1);
    transition: transform 8s ease-out;
}

.main-visual.loaded {
    transform: scale(1.12);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
